In [1]:
import pandas as pd
import os

In [2]:
## Set up parameters

## Genome assembly
genome='/nfs/team205/is10/resources/ucsc_genomes/hg38.fa'

## Output directory
outdir = '/lustre/scratch126/cellgen/team205/is10/fibroblasts/bulk_stim/cistarget/'
os.makedirs(outdir, exist_ok=True)

In [3]:
## Read peaks to be used as background for analysis:
peaks = pd.read_csv('/nfs/team205/nh3/projects/matthias_fibro/20210418_matthias_bulk_atac/bulk_atac_bedcov_matrix.tsv', sep='\t')

In [4]:
## Extracting peak name (in UCSC format)
peak_name = peaks['peak_name'].str.split(',', expand=True)[0]

In [5]:
## Expanding coordinates
peak_coord = peak_name.str.split(':|-', expand=True)
peak_coord.columns = ['chr', 'start', 'end']

In [6]:
## Adding the peak's name
peak_coord['name'] = peak_name

In [7]:
peak_coord

         chr      start        end                      name
0       chr1     794840     795340        chr1:794840-795340
1       chr1     807550     808050        chr1:807550-808050
2       chr1     811011     811511        chr1:811011-811511
3       chr1     817090     817590        chr1:817090-817590
4       chr1     817824     818324        chr1:817824-818324
...      ...        ...        ...                       ...
407378  chrX  155880997  155881497  chrX:155880997-155881497
407379  chrX  155881594  155882094  chrX:155881594-155882094
407380  chrX  155888133  155888633  chrX:155888133-155888633
407381  chrX  155957678  155958178  chrX:155957678-155958178
407382  chrX  155966811  155967311  chrX:155966811-155967311

[407383 rows x 4 columns]

In [8]:
## Export into bed format
peak_coord.to_csv((outdir + 'all_peaks.bed'), sep='\t', index=False, header=False)

In [9]:
## And convert to fasta
os.system(('bedtools getfasta -fi ' + genome + ' -bed ' + outdir + 'all_peaks.bed > ' + outdir + 'all_peaks.fa'))

0